<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>404</title>
    </head>
    <head th:replace="/fragments/boot"::head>
    <body>
        <center>
            <h1>404 <br>
                OOPS! USER NOT FOUND <br>
            </h1>
        </center>

        <div class="navigation">
           <button type="button" id="back-btn" class="btn btn-link">Go Back</button>
        </div>

        <script>
            // simple js script to navigate to the previous page
            let backButton = document.getElementById("back-btn");
    
            backButton.setAttribute("href",document.referrer);
    
            backButton.onclick = function(){
                window.history.back();
            }
        </script>
    </body>

    
    
</html>